/* #bbb1b141          : background */
/* #222               : general text */

/* rgb(183, 34, 133)  : first accent */                     /* SLIGHT ADJUSTMENT MADE TO LIGHTEN THIS COLOR IN .list SELECTOR */
/* rgb(102, 51, 255)  : second accent */                    /* SLIGHT ADJUSTMENT MADE TO LIGHTEN THIS COLOR IN .list SELECTOR */
/* rgb(255, 131, 29)  : focus */      

/* BASS LINE COLOR: ae8ddbff / #be9aff */

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ----- 0px */
* {
  box-sizing: border-box;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: white;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 65px auto;
  padding: 10px 20px;
}

section {
  width: 100%;
  margin-top: 30px;
}


 /* --- TEXT STYLES --- */
small {
  font-style: italic;
  font-size: 0.75rem;
}
.centered h1, .centered h2, .centered h3, .centered p, .centered a {
  text-align: center;
}
h2 {
  color: #340689;
  width: 100%;
  text-align: center;
}

 /* --- LINK & BUTTON STATES --- */
a, .rd-more-btn {
  background: none;
  text-decoration: none;
  color:  rgb(157, 76, 255);
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: 5px;
  padding: 2px;
  transition: all .25s;
  width: 80%;
  margin: auto;
  display: block;
  text-align: center;
}
.fancy-btn {
  border: solid 2px #222;
  box-shadow: 5px 5px rgba(183, 34, 133, 0.75), -5px -5px rgba(164, 137, 247, 0.75);
  padding: 5%;
  margin: 15px auto;
  display: block;
  width: 80%;
  font-size: 1.25rem;
  text-align: center;
  background-color: white;
  font-weight: bold;
}
a:visited {
  color: rgb(102, 51, 255);
}
a:not(.nav-btn):focus, #nav-menu:focus,  #navigation li:has(a:focus), .gall-btn:focus, .rd-more-btn:focus {
  outline: none;
  background-color: rgba(255, 29, 29, 0.367);
  border-color: rgb(255, 29, 29);
  color: #222; 
}
#navigation a:focus {
  outline: none;
  color: white;
}
a:not(.nav-btn):hover {
  color: white;
  background-color: rgb(34, 34, 34, 0.761);
}
#navigation li:has(a:hover) {
  background-color: rgba(189, 154, 255, 0.75);
  border-color: #222;
}
#navigation a:hover {
  color: #222;
}
#nav-menu:hover {
  border-color: white;
}
#online-links a:hover, #socials-foot a:hover {
  background-color: rgba(255, 255, 255, 0.623);
}
.fancy-btn:focus {
  box-shadow: 5px 5px rgba(34, 34, 34, 0.845), -5px -5px rgba(34, 34, 34, 0.43);
}

 /* --- HEADER --- */
 header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 2% 0;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  z-index: 99;
 }
 header h1 {
  font-size: 1em;
  color: white;
 }
 .logo {
  width: 40px;
 }

 #navigation {
  display: none;
  background-color: #222;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  width: 100vw;
  padding: 10px 0;
  margin: 0;
 }
 #navigation li {
  background-color: white;
  border: 2px solid rgba(164, 137, 247, 0.75);
  border-radius: 25px;
  width: 23%;
  text-align: center;
  color: rgb(102, 51, 255);
 }
#nav-menu {
  background-color: #222;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #nav-menu img {
  width: 20px;
  height: 20px;
 }

 /* --- HOME - FEATURE WINDOW SECTION --- */
 #feature-window {
  height: calc(100dvh - 300px);
  background-color: #bd9aff85;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #24055d7d;
 }
 #feature-window video {
  height: 100%;
  margin: 0 auto;
 }

 /* --- HOME - BIO SECTION --- */
 #bio {
  margin-top: 0;
 }
#open-p {
  height: 175px;
  border-bottom: solid 1px #222;
}


 /* --- HOME - CONTACT SECTION --- */
#contact {
  background-color: #bd9aff54;
  border: 3px solid rgba(164, 137, 247, 0.75);
  border-radius: 25px;
  padding-bottom: 15px;
}

/* --- HOME - EVENT WINDOW SECTION --- */
#event-window div {
  background-color: #222;
}

#event-window h2 {
  padding: 15px 0px;
  color: #f7f3fe;
  text-shadow: 0 0 10px #be9aff, 0 0 18px #be9aff, 0 0 25px #be9aff,  0 0 29px #be9aff,  0 0 34px #be9aff, 0 0 42px #be9aff, 0 0 82px #be9aff, 0 0 92px #be9aff, 0 0 102px #be9aff;
  letter-spacing: 8px;
  word-spacing: 10px;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

#nxt-event-poster {
  width: 90vw;
}

/* --- HOME - ONLINE LINKS SECTION --- */
#online-links {
  background-color: #bd9aff54;
  border: 3px solid #222;
  border-radius: 25px;
  padding: 15px;
}
#online-links h2 {
  color: #222;
}
#online-links img {
  width: 75px;
  border: 2px solid #222;
  border-radius: 50%;
}
#online-links div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#online-links a {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- HOME - PRICE SECTION --- */
#price {
  border: 1px solid #222;
  border-radius: 25px;
  padding: 10px;
  margin-top: 70px;
}

/* --- EVENTS - CALENDAR SECTION --- */
#cal-mobile {
  border:solid 1px #222;
  border-radius: 15px;
  height: 75vh;
  width: 100%;
  margin: 0 auto;
}
#cal-tablet {
  display: none;
}

/* --- EVENTS - MEDIA WINDOW SECTION --- */
#media-cary-cot {
  margin: 50px auto;
}
#media-cary-imgs {
  height: 360px;
  width: 270px;
  position: relative;
  margin: 0 auto;
}
.gall-img {
  width: 270px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}
.gall-img:not(#c1) {
  display: none;
}
#media-cary-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  z-index: 99;
  position: relative;
  opacity: 0.75;
}
.gall-btn {
  border-radius: 50%;
  border: 1px solid #222;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  padding: 0;
}
button[actStat="active"] {
  background-color: rgb(191, 107, 230);
}
button[actStat="inactive"] {
  background-color: rgb(59, 6, 84);
}

/* --- TEAM - STAFF SECTION --- */
#staff-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.staff-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: #222 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 5%;
  margin-top: calc(5% + 75px);
}
.pfp {
  background-color: aqua;
  border: #222 1px solid;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
}
.staff-cont h3 {
  margin: 5% auto 0 auto;
}
.staff-cont h4 {
  margin: 0 auto;
}
.rd-more-btn {
  font-size: large;
}
.more-sect {
  display: none;
}

/* --- TEAM - PARTNERS SECTION --- */
#performance-partners {
  margin-top: 15%;
}
#performance-partners h2 {
  font-weight: 300;
  font-size: large;
}
#partner-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#partner-logos a {
  width: 104px;
  height: 104px;
  padding: 0;
}
#partner-logos img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

/* --- MEDIA - FAVORITE GALLERY SECTION --- */
#fav-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#fav-gallery img {
  width: 40vw;
  border: 1px solid #222;
  margin: 15px auto;
}

/* --- MEDIA - POSTERS SECTION --- */
#posters-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#posters-gallery img {
  width: 40vw;
  border: 1px solid #222;
}

/* --- FORM --- */
#sign-up-form {
  width: 300px;
  height: 4200px;
  margin: 0 auto;
}


/* --- FOOTER --- */
footer {
  background-color: #222;
  bottom: 0;
  width: 100vw;
  padding: 20px;
}
footer p {
  color: white;
  margin-bottom: 0;
}
footer img {
  width: 50px;
}
#socials-foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#socials-foot a {
  width: 100px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- --- 768px */
@media screen and (min-width: 768px) {
  main {
    margin: 110px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  section {
    width: 80%;
    margin-top: 60px;
  }

  /* --- LINK & BUTTON STATES --- */
  /* .fancy-btn {
    padding: 5%;
    margin: 15px auto;
    width: 80%;
    font-size: 1.25rem;
  } */

  /* --- HEADER --- */
  header {
    justify-content: space-between;
    height: 100px;
    padding: 10px;
  }
  header h1 {
    display: none;
  }
  .logo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  #navigation {
    display: flex;
    position: static;
    width: calc(100vw - 100px);
  }
  #navigation li {
    background-color: rgba(164, 137, 247, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.695);
    border-radius: 10px;
    height: 40px;
    color: white;
    font-size: 1.5em;
  }
  #navigation a:visited {
    color: white;
  }
  #nav-menu {
    display: none;
  }

  /* --- HOME - FEATURE WINDOW SECTION --- */
  #feature-window {
    height: calc(100vh - 150px);
    background-color: unset;
    width: 55%;
    border: none;
    margin-top: 30px;
  }
  #feature-window video {
    height: fit-content;
    width: 100%;
    border: 1px solid #222;
  }

  /* --- HOME - BIO SECTION --- */
  #bio {
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
    font-size: 1.2em;
    border-left: 1px solid #222;
    padding: 0 5px;
  }
  #open-p {
    height: fit-content;
    border-bottom: none;
  }

  /* --- HOME - CONTACT SECTION --- */
  #contact h2 {
    font-size: 2.25em;
  }
  #contact p, #contact a {
    font-size: 1.3em;
  }

  /* --- HOME - EVENT WINDOW SECTION --- */
  #nxt-event-poster {
    width: 100%;
  }

  /* --- HOME - ONLINE LINKS SECTION --- */
  #online-links {
    width: 45%;
  }
  #online-links img {
    width: 100%;
  }
  #online-links a {
    width: 100px;
    height: 100px;
  }

  /* --- HOME - PRICE SECTION --- */
  #price {
    width: 45%;
  }

  /* --- EVENTS - CALENDAR SECTION --- */
  #cal-mobile {
    display: none;
  }
  #cal-tablet {
    display: block;
    border:solid 1px #222;
    border-radius: 15px;
    height: 75vh;
    width: 100%;
    margin: 0 auto;
  }

  #media-cary-cot {
    margin: 70px auto 50px auto;
  }

  /* --- TEAM - STAFF SECTION --- */
  #staff-icons {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15%;
  }
  .staff-cont {
    width: 45%;
    margin: 0 auto;
    margin-top: calc(5% + 75px);
  }

  /* --- TEAM - PARTNERS SECTION --- */
  #performance-partners {
    margin-top: 5%;
    width: 100%;
  }
  #performance-partners h2 {
    font-size: 1.5em;
  }
  #partner-logos {
    width: 60%;
    margin: 0 auto;
  }
  #partner-logos a {
    width: 129px;
    height: 129px;
  }
  #partner-logos img {
    width: 125px;
    height: 125px;
  }

  /* --- MEDIA - POSTERS SECTION --- */
  #fav-gallery {
    margin-bottom: 15%;
  }

  /* --- FORM --- */
  #sign-up-form {
    width: 750px;
    height: 3200px;
  }

  /* --- FOOTER --- */
  footer img {
    width: 75px;
  }
}



/* --- NAVIGATION ---
nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 999;
}
#navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

#navigation li {
  text-transform: uppercase;
  margin: 1% 2%;
  text-align: center;
  width: 80%;
  white-space: normal;
}
#navigation .name {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  width: fit-content;
}
#navigation button {
  font-size: large;
  color: white;
}
#navigation-menu {
  width: fit-content;
  margin-left: auto;
}

#navigation a, #navigation button {
  transition: all .5s;
  padding: 2%;
  font-weight: lighter;
  margin: 2%;
}

#navigation a:visited {
  color: white;
}
#navigation-active {
  background-color: rgba(255, 255, 255, 0.35);
  transition: all 0.25s;
  border-color: white;
}
#navigation a:hover, #navigation button:hover {
  background-color: rgba(255, 131, 29, 0.25);
}

#navigation-btn {
  display: none;
}
#navigation-btn a {
  display: block;
  width: 100%;
} */
/* 
#navigation .logo {
  max-width: 10%;
}

/* --- HEADER --- */
/* .header {
  text-align: center;
  padding: 10px 0 20px 0;
  line-height: 1.5;
  margin-top: 15%;
  width: 90%;
} */
/* header {
  text-align: center;
  padding: 10px 0 20px 0;
  line-height: 1.5;
  margin-top: 15%;
  width: 75%;
  width: 90%;
}
.header-title {
  font-size: 1em;
  text-align: center;
  margin-left: 20px;
  color: #bbb1b1;
} */

/* .overlay {
  background-color: rgba(227, 159, 232, 0.395);
} */

/* header .profile-image {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  border: 3px solid #222;
  transition: all .75s;
  box-shadow: 0px 0px 10px 10px rgba(226, 170, 243, 0.582);
} */


/* .top-name-mb {
  background-color: rgba(255, 255, 255, 0.75);
  color: #222;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 5px;
  width: 100%;
  margin: 10px auto 5px auto;
}
small .top-name-mb {
  margin-top: -10%;
}
.top-name-tb {
  display: none;
} */

/* --- FEAUTRE WINDOW --- */
/* #feature-window {
  width: 90%;
  height: 200px;
  background-color: rebeccapurple;
  border: 3px solid #222;
}

/* --- SECTIONS --- */
/* section {
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
  width: 90%;
  margin: 10px auto;
}
section:hover {
  border-color: rgb(183, 34, 133);
}
section h2 {
  border-bottom: rgba(183, 34, 133, 0.3) dashed 2px;
}

/* --- LISTS --- */
/* ul {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.list li {
  border-radius: 6px;
  background: rgba(164, 137, 247, 0.25);
  color: #222;
  padding: 5px 10px;
  margin: 2px;
  width: 80%;
  transition: all 0.5s;
}
.list li:nth-child(3n + 3) {
  background: rgba(220, 89, 176, 0.25);
}
.list li:nth-child(3n + 2) {
  background: rgba(255, 131, 29, 0.25);
}
.list li:hover {
  background: rgba(164, 137, 247, 0.6);
}
.list li:nth-child(3n + 3):hover {
  background: rgba(220, 89, 176, 0.6);
}
.list li:nth-child(3n + 2):hover {
  background: rgba(255, 131, 29, 0.6);
} */

/* --- FOOTER --- */
/* footer {
  width: 100%;
  min-height: 30px;
  margin: 0 auto;
}
footer p {
  font-size: .75em;
} */

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- --- 550px */
/* @media screen and (min-width: 550px) {
  /* --- LISTS --- */
  /* .list li{
    min-width: 20%;
  }

  /* --- NAVIGATION --- */
  /* #navigation {
    justify-content: space-between;
  }
  #navigation li {
    width: max-content;
  }
  #navigation .name {
    width: 30%;
  }
  #navigation-btn a {
    padding: 3%;
    width: max-content;
  }

  #navigation-btn {
    display: block;
  }
  #navigation-menu {
    display: none;
  }  */ 

  /* --- HEADER --- */
  /* header .profile-image {
    margin-top: 20px;
  } */

  /* --- FOOTER --- */
  /* footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
  }
  footer a{
    width: 90%;
  }
  footer p {
    width: 20%;
  } */
/* } */

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- --- 768px */
/* @media screen and (min-width: 768px) {
  main p {
    line-height: 1.6em;
  } */
  /* .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  } */

  /* --- HEADER --- */
  /* header {
    min-height: 380px;
  }
  header .profile-image {
    margin-top: 30px;
    width: 250px;
    height: 250px;
  }

  #instruments, #staff {
    width: 45%;
    padding: 20px;
    margin: 30px 10px;
  } */

  /* --- FOOTER --- */
  /* footer {
    margin-top: 5%;
  }
  footer a {
    width: max-content;
    margin-bottom: 3%;
  }
  footer :nth-child(1) {
    order: 2;
  }
  footer :nth-child(2) {
    order: 1;
  }
  footer :nth-child(3) {
    order: 3;
  }
} */

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- -- 1024px */
/* @media screen and (min-width:1024px) {

  /* --- SECTION --- */
  /* section {
    width: 45%;
    padding: 20px;
    margin: 30px 10px;
  } */

    /* --- HEADER --- */
  /* header {
    min-height: 480px;
  }
  header .profile-image {
    margin-top: 50px;
    width: 300px;
    height: 300px;
  }

  #navigation .name {
    width: 50%;
    text-align: left;
  } */
/* }  */