/* #bbb1b141          : background */
/* #222               : general text */

/* rgb(183, 34, 133)  : first accent */                     /* SLIGHT ADJUSTMENT MADE TO LIGHTEN THIS COLOR IN .list SELECTOR */
/* rgb(102, 51, 255)  : second accent */                    /* SLIGHT ADJUSTMENT MADE TO LIGHTEN THIS COLOR IN .list SELECTOR */
/* rgb(255, 131, 29)  : focus */      

/* BASS LINE COLOR: ae8ddbff / #be9aff */

/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ----- 0px */
* {
  box-sizing: border-box;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: white;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 65px auto;
  padding: 10px 20px;
}

section {
  width: 100%;
  margin-top: 30px;
}


 /* --- TEXT STYLES --- */
small {
  font-style: italic;
  font-size: 0.75rem;
}
.centered h1, .centered h2, .centered h3, .centered p, .centered a {
  text-align: center;
}
h2 {
  color: #340689;
  width: 100%;
  text-align: center;
}

 /* --- LINK & BUTTON STATES --- */
a, .rd-more-btn {
  background: none;
  text-decoration: none;
  color:  rgb(157, 76, 255);
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: 5px;
  padding: 2px;
  transition: all .25s;
  width: 80%;
  margin: auto;
  display: block;
  text-align: center;
}
.fancy-btn {
  border: solid 2px #222;
  box-shadow: 5px 5px rgba(183, 34, 133, 0.75), -5px -5px rgba(164, 137, 247, 0.75);
  padding: 5%;
  margin: 15px auto;
  display: block;
  width: 80%;
  font-size: 1.25rem;
  text-align: center;
  background-color: white;
  font-weight: bold;
}
a:visited {
  color: rgb(102, 51, 255);
}
a:not(.nav-btn):focus, #nav-menu:focus,  #navigation li:has(a:focus), .gall-btn:focus, .rd-more-btn:focus {
  outline: none;
  background-color: rgba(255, 29, 29, 0.367);
  border-color: rgb(255, 29, 29);
  color: #222; 
}
#navigation a:focus {
  outline: none;
  color: white;
}
a:not(.nav-btn):hover {
  color: white;
  background-color: rgb(34, 34, 34, 0.761);
}
#navigation li:has(a:hover) {
  background-color: rgba(189, 154, 255, 0.75);
  border-color: #222;
}
#navigation a:hover {
  color: #222;
}
#nav-menu:hover {
  border-color: white;
}
#online-links a:hover, #socials-foot a:hover {
  background-color: rgba(255, 255, 255, 0.623);
}
.fancy-btn:focus {
  box-shadow: 5px 5px rgba(34, 34, 34, 0.845), -5px -5px rgba(34, 34, 34, 0.43);
}

 /* --- HEADER --- */
 header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  padding: 2% 0;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  z-index: 99;
 }
 header h1 {
  font-size: 1em;
  color: white;
 }
 .logo {
  width: fit-content;
  margin: 0;
 }
 .logo img {
  width: 40px;
 }

 #navigation {
  display: none;
  background-color: #222;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  width: 100vw;
  padding: 10px 0;
  margin: 0;
 }
 #navigation li {
  background-color: white;
  border: 2px solid rgba(164, 137, 247, 0.75);
  border-radius: 25px;
  width: 23%;
  text-align: center;
  color: rgb(102, 51, 255);
 }
#nav-menu {
  background-color: #222;
  border: rgba(0, 0, 0, 0) 2px solid;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 #nav-menu img {
  width: 20px;
  height: 20px;
 }

 /* --- HOME - FEATURE WINDOW SECTION --- */
 #feature-window {
  height: calc(100dvh - 300px);
  background-color: #bd9aff85;
  background-image: url('../images/blms-logo/logo-repeat-min.png');
  background-size: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #24055d7d;
 }
 #feature-window video {
  height: 100%;
  margin: 0 auto;
 }

 /* --- HOME - BIO SECTION --- */
 #bio {
  margin-top: 0;
 }
#open-p {
  height: 175px;
  border-bottom: solid 1px #222;
}


 /* --- HOME - CONTACT SECTION --- */
#contact {
  background-color: #bd9aff54;
  border: 3px solid rgba(164, 137, 247, 0.75);
  border-radius: 25px;
  padding-bottom: 15px;
}

/* --- HOME - EVENT WINDOW SECTION --- */
#event-window div {
  background-color: #222;
}

#event-window h2 {
  padding: 15px 0px;
  color: #f7f3fe;
  text-shadow: 0 0 10px #be9aff, 0 0 18px #be9aff, 0 0 25px #be9aff,  0 0 29px #be9aff,  0 0 34px #be9aff, 0 0 42px #be9aff, 0 0 82px #be9aff, 0 0 92px #be9aff, 0 0 102px #be9aff;
  letter-spacing: 8px;
  word-spacing: 10px;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}

#nxt-event-poster {
  width: 90vw;
}

/* --- HOME - ONLINE LINKS SECTION --- */
#online-links {
  background-color: #bd9aff54;
  border: 3px solid #222;
  border-radius: 25px;
  padding: 15px;
}
#online-links h2 {
  color: #222;
}
#online-links img {
  width: 75px;
  border: 2px solid #222;
  border-radius: 50%;
}
#online-links div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#online-links a {
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- HOME - PRICE SECTION --- */
#price {
  border: 1px solid #222;
  border-radius: 25px;
  padding: 10px;
  margin-top: 70px;
}

/* --- EVENTS - CALENDAR SECTION --- */
#cal-mobile {
  border:solid 1px #222;
  border-radius: 15px;
  height: 75vh;
  width: 100%;
  margin: 0 auto;
}
#cal-tablet {
  display: none;
}

/* --- EVENTS - MEDIA WINDOW SECTION --- */
#media-cary-cot {
  margin: 50px auto;
}
#media-cary-imgs {
  height: 360px;
  width: 270px;
  position: relative;
  margin: 0 auto;
}
.gall-img {
  width: 270px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}
.gall-img:not(#c1) {
  display: none;
}
#media-cary-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  z-index: 99;
  position: relative;
  opacity: 0.75;
}
.gall-btn {
  border-radius: 50%;
  border: 1px solid #222;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  padding: 0;
}
button[actStat="active"] {
  background-color: rgb(191, 107, 230);
}
button[actStat="inactive"] {
  background-color: rgb(59, 6, 84);
}

/* --- TEAM - STAFF SECTION --- */
#staff-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.staff-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: #222 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 5%;
  margin-top: calc(5% + 75px);
}
.pfp {
  background-color: #be9aff;
  border: #222 1px solid;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
}
.staff-cont h3 {
  margin: 5% auto 0 auto;
}
.staff-cont h4 {
  margin: 0 auto;
}
.rd-more-btn-cot {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 100%;
  margin: auto;
}
.rd-more-btn {
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
  width: 100%;
  background-color: #be9aff;
  color: black;
  border-radius: 0 0 7.5px 7.5px;
}
.rd-less-btn {
  font-size: large;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.75);
  color: white;
  border-radius: 0 0 7.5px 7.5px;
  text-align: center;
}
.more-sect {
  display: none;
}

/* --- TEAM - PARTNERS SECTION --- */
#performance-partners {
  margin-top: 15%;
}
#performance-partners h2 {
  font-weight: 300;
  font-size: large;
}
#partner-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#partner-logos a {
  width: 104px;
  height: 104px;
  padding: 0;
}
#partner-logos img {
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

/* --- MEDIA - FAVORITE GALLERY SECTION --- */
#fav-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#fav-gallery img {
  width: 40vw;
  border: 1px solid #222;
  margin: 15px auto;
}

/* --- MEDIA - POSTERS SECTION --- */
#posters-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
#posters-gallery img {
  width: 40vw;
  border: 1px solid #222;
}

/* --- FORM --- */
#sign-up-form {
  width: 300px;
  height: 4200px;
  margin: 0 auto;
}


/* --- FOOTER --- */
footer {
  background-color: #222;
  bottom: 0;
  width: 100vw;
  padding: 20px;
}
footer p {
  color: white;
  margin-bottom: 0;
}
footer img {
  width: 50px;
}
#socials-foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
#socials-foot a {
  width: 100px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- --- 768px */
@media screen and (min-width: 768px) {
  main {
    margin: 110px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  section {
    width: 80%;
    margin-top: 60px;
  }

  /* --- HEADER --- */
  header {
    justify-content: space-between;
    height: 100px;
    padding: 10px;
  }
  header h1 {
    display: none;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .logo img {
    height: 70px;
    width: 70px;
  }

  #navigation {
    display: flex;
    position: static;
    width: calc(100vw - 100px);
  }
  #navigation li {
    background-color: rgba(164, 137, 247, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.695);
    border-radius: 10px;
    height: 40px;
    color: white;
    font-size: 1.5em;
  }
  #navigation a:visited {
    color: white;
  }
  #nav-menu {
    color: white;
    display: none;
  }

  /* --- HOME - FEATURE WINDOW SECTION --- */
  #feature-window {
    height: calc(100vh - 150px);
    width: 55%;
    border: none;
    margin-top: 30px;
  }
  #feature-window video {
    height: fit-content;
    width: 100%;
    border: 1px solid #222;
  }

  /* --- HOME - BIO SECTION --- */
  #bio {
    margin: 0 auto;
    margin-top: 30px;
    width: 35%;
    font-size: 1.2em;
    border-left: 1px solid #222;
    padding: 0 5px;
  }
  #open-p {
    height: fit-content;
    border-bottom: none;
  }

  /* --- HOME - CONTACT SECTION --- */
  #contact h2 {
    font-size: 2.25em;
  }
  #contact p, #contact a {
    font-size: 1.3em;
  }

  /* --- HOME - EVENT WINDOW SECTION --- */
  #nxt-event-poster {
    width: 100%;
  }

  /* --- HOME - ONLINE LINKS SECTION --- */
  #online-links {
    width: 45%;
  }
  #online-links img {
    width: 100%;
  }
  #online-links a {
    width: 100px;
    height: 100px;
  }

  /* --- HOME - PRICE SECTION --- */
  #price {
    width: 45%;
  }

  /* --- EVENTS - CALENDAR SECTION --- */
  #cal-mobile {
    display: none;
  }
  #cal-tablet {
    display: block;
    border:solid 1px #222;
    border-radius: 15px;
    height: 75vh;
    width: 100%;
    margin: 0 auto;
  }

  #media-cary-cot {
    margin: 70px auto 50px auto;
  }

  /* --- TEAM - STAFF SECTION --- */
  #staff-icons {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15%;
  }
  .staff-cont {
    width: 45%;
    margin: 0 auto;
    margin-top: calc(5% + 75px);
  }

  /* --- TEAM - PARTNERS SECTION --- */
  #performance-partners {
    margin-top: 5%;
    width: 100%;
  }
  #performance-partners h2 {
    font-size: 1.5em;
  }
  #partner-logos {
    width: 60%;
    margin: 0 auto;
  }
  #partner-logos a {
    width: 129px;
    height: 129px;
  }
  #partner-logos img {
    width: 125px;
    height: 125px;
  }

  /* --- MEDIA - POSTERS SECTION --- */
  #fav-gallery {
    margin-bottom: 15%;
  }

  /* --- FORM --- */
  #sign-up-form {
    width: 750px;
    height: 3200px;
  }

  /* --- FOOTER --- */
  footer img {
    width: 75px;
  }
}








/* ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- ---------- --- 1024px */
@media screen and (min-width: 1024px) {

  section {
    width: 90%;
    margin-top: 80px;
  }

  /* --- LINK & BUTTON STATES --- */
  .fancy-btn {
    padding: 2%;
    width: 40%;
  }

  /* --- HEADER --- */
  header {
    justify-content: space-around;
    height: 80px;
  }
  .logo {
    height: 60px;
    width: 60px;
  }
  .logo img {
    height: 60px;
    width: 60px;
  }

  #navigation {
    width: calc(100vw - 250px);
  }
  #navigation li {
    width: 20%;
  }

  /* --- HOME - FEATURE WINDOW SECTION --- */
  #feature-window {
    order: 1;
    height: calc(100vh - 175px);
    width: 40%;
  }
  #feature-window video {
    height: 100%;
    width: fit-content;
  }

  /* --- HOME - BIO SECTION --- */
  #bio {
    order: 2;
    width: 50%;
    font-size: 1.4em;
  }

  /* --- HOME - CONTACT SECTION --- */
  #contact {
    width: 45%;
    align-self: stretch;
    order: 5;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-width: 5px;
  }
  #contact h2 {
    font-size: 2em;
  }
  #contact p, #contact a {
    margin: 10px auto;
    width: 80%;
  }

  /* --- HOME - EVENT WINDOW SECTION --- */
  #event-window {
    order: 3;
    width: 100%;
    margin: 70px 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #e1{
    grid-column: span 2;
    height: 100px;
    align-self: center;
  }
  #e2 {
    grid-area: 2 / 2 / 2 / 2;
    align-self: end;
  }
  #nxt-event-poster {
    height: 60vh;
    width: fit-content;
    grid-row: span 3;
    justify-self: end;
  }
  #e4 {
    grid-area: 3 / 2 / 3 / 2;
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #e5 {
    grid-area: 4 / 2 / 4 / 2;
    margin: 0 auto;
    height: fit-content;
  }

  /* --- HOME - ONLINE LINKS SECTION --- */
  #online-links {
    border-width: 1px;
    background-color: unset;
    width: 25%;
    align-self: stretch;
    order: 4;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  #online-links img {
    width: 100%;
  }
  #online-links a {
    width: 100px;
    height: 100px;
  }

  /* --- HOME - PRICE SECTION --- */
  #price {
    width: 25%;
    align-self: stretch;
    order: 6;
    margin-top: 80px;
  }
  #price h2 {
    color: #222;
  }

  /* --- EVENT - MEDIA GALLERY SECTION --- */
  #media-cary-cot {
    width: 90%;
  }

  /* --- TEAM - STAFF SECTION --- */
  .staff-cont {
    width: 30%;
  }

  /* --- MEDIA - POSTERS SECTION --- */
  #fav-gallery img {
    width: 20vw;
  }
   #fav-gallery img.h-pic {
    width: 30vw;
  }
}
